.planet-visualizer-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #000;
}

.planet-visualizer-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}
